
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background-color: #cbfcaa;
    color: #333;
}

#app {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #ff6f61; /* Coral */
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

header h1 {
    margin-bottom: 10px;
    font-size: 2.5em;
}

#searchBar {
    margin-top: 10px;
}

#searchInput {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    width: 70%;
    border: 2px solid #ddd;
    border-radius: 4px;
    outline: none;
}

#searchmovies {
    font-family:'Times New Roman', Times, serif, sans-serif ;
    padding: 10px;
    border: none;
    background-color: #d3cb60; /* Blue */
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    margin-left: 10px;
}

#searchButton:hover {
    background-color: #b38900; /* Darker Blue */
}

#moviesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.movie {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 200px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
}

.movie:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.movie img {
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 4px solid #ffffff; /* Coral */
}

.movie h3 {
    font-size: 18px;
    margin: 10px 0;
    color: #ff6600; /* Blue */
    background: #ffffff; /* Yellow */
    padding: 5px;
    border-radius: 4px;
}

.movie a {
    text-decoration: none;
    color: inherit;
}

.movie a:hover {
    text-decoration: underline;
}

.movie p {
    padding: 0 10px;
    color: #e26b6b;
}
